 
        *{
            margin: 0;
            padding: 0;
        }
        nav{
            background-color: rgb(23, 23, 24);
            padding: 12px 3px;
            display: flex;
            justify-content: space-between;
          
           
        }
        .logo{
            margin: 0 23px;
            font-weight: 800;
            font-size: 25px;
            cursor: pointer;
            color: white;
        }
        ul {
            display: flex;
            margin: 0 23px;
            align-items: center;
        }
        ul li {
            list-style: none;
            margin: 0 13px;
            color: white;
        }
        ul > li:hover {
            background-color: rgb(24, 12, 240);
        }

  table, td, tr{
    border: 2px solid black;
    border-collapse: collapse; 
    padding: 5px 13px;


   }

  .container{
    max-width: 80vw;
    margin: 23px auto;

  }
        
    h1 ,h2, h3{
        margin: 23px 0;
    }
    .btn{
        padding: 8px 17px;
        background-color: black;
        color: white;
        font-weight: 900;
        border-radius: 8px;
        margin: 12px 0;
        cursor: pointer;
    } 
    .btnsm{
        padding: 8px 17px;
        background-color: black;
        color: white;
        font-weight: 900;
        border-radius: 8px;
        cursor: pointer;
    }
    .alert {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: black;
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
}

.hidden {
    display: none;
} 
